[submodule "lib/inner/DYCommonLib"]
	path = lib/inner/DYCommonLib
	url = git@github.com:yyc-git/DYCommonLib.git
[submodule "lib/inner/DYReactive"]
	path = lib/inner/DYReactive
	url = git@github.com:yyc-git/DYReactive.git
