.DS_Store
.merlin
.idea/
.vscode/
jest_0/
lib/bs/
lib/**/src/
reference/
node_modules/
mine/
test/coverage
dist/
npm-debug


test/e2e/render/image

test/performance/data

test/e2e/render/image

.bsb.lock